[Unit]
Description=Beo control service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Desktop/ardu_serial.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
